<script>
function doSearch(){
    var response = document.getElementById('searchBar').value;
    response = response.toString()
    window.location.assign("/busca/" + response)
    return false;

}
</script>

<div class="grid header">
  <!-- <div class="logo col-1-3">


  </div>
  <ul class="nav navbar-nav navbar-right">
     {% if user %}
       <li class="dropdown">
         <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
           {% if user.picture %}
             <img src="{{ user.picture }}" width="30px" style="border-radius: 100%;">
           {% else %}
             <img src="{{ user.gravatar }}"  width="30px" style="border-radius: 100%;">
           {% endif %}
           {% if user.name %}
             {{ user.name }}
           {% elif user.email %}
             {{ user.email }}
           {% else %}
             {{ user.id }}
           {% endif %}
           <i class="caret"></i>
         </a>
         <ul class="dropdown-menu">
           <li><a href="/account">Minha Conta</a></li>
           <li class="divider"></li>
           <li><a href="/logout">Sair</a></li>
         </ul>
       </li>
     {% else %}
       <li class="{% if title == 'Entrar' %}active{% endif %}"><a href="/login">Entrar</a></li>
       <li class="{% if title == 'Criar Conta' %}active{% endif %}"><a href="/signup">Criar Conta</a></li>
     {% endif %}
     </ul>
</div> -->


    <nav class="navbar navbar-default ">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a href="{{ SITEURL }}/" style="border-bottom: 0px solid;"><img src="/images/libreflix.png" width="150px" style="border-bottom: 0px solid; opacity:0; -moz-transition: opacity 2s; -webkit-transition: opacity 2s; -o-transition: opacity 2s; transition: opacity 2s; margin-right: 30px;"
          onload="this.style.opacity='1';"></a>

    </div>
    {#
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li><a href="/">Home</a></li> -->

        <li><a href="/category/docs"><b>Docs </b></a></li>
        <li><a href="/category/filmes"><b>Filmes</b></a></li>
        <li><a href="/category/curtas"><b>Curtas</b></a></li>
        <li><a href="/category/series"><b>Séries</b></a></li>
        <li><a href="/category/classicos"><b>Clássicos</b></a></li>
        <li><a href="/category/nacionais"><b>Nacionais</b></a></li>
        <li><a href="/category/kids"><b>Kids</b></a></li>


        <!-- <li><a href="/"><b>Início</b></a></li> -->

        <!-- <li><a href="/explore/format/doc"><b>Docs</b></a></li>
        <li><a href="/explore/format/fic"><b>Ficção</b></a></li>
        <li><a href="/explore/format/series"><b>Seriados</b></a></li>
        <li><a href="/explore/duration/40"><b>Curtas</b></a></li>
        <li><a href="/explore/category/32"><b>Clássicos</b></a></li>
        <li><a href="/t/kids"><b>Kids</b></a></li> -->

      </ul>

    </div>
  #}
  </nav>

</div>
