{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block content %}
    <meta property="og:image" content="https://blog.libreflix.org/{{ article.fbimage }}" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="{{ article.description }}" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="Blog Libreflix" />

    <!-- twitter metatags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.description }}">
    <meta name="twitter:image" content="https://blog.libreflix.org/{{ article.fbimage }}">

    <div class='article'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {#{% include "metadata.html" %}#}
        </div>

        <div>{{ article.content }}</div>

        <video width="100%" controls>
         <source src="https://archive.org/download/Sintel/sintel-2048-stereo.mp4" type="video/mp4">
         Your browser does not support the video tag.
       </video>

    {#
		<p align="right">
			<a href="{{ article.source_path | replace('/home/guilmour/gits/blog_libreflix/' , 'https://notabug.org/libreflix/blog_libreflix/src/master/')}}">&#x270E; Editar</a> |
			<a href="{{ article.source_path | replace('/home/guilmour/gits/blog_libreflix/' , 'https://notabug.org/libreflix/blog_libreflix/commits/master/')}}">&#x26C1; Versões</a>
		</p>
    #}

        <hr>

	{% include "twitter.html" %}
    {% if DISQUS_SITENAME %}
        <h2>Comentários</h2>
        {% include "disqus.html" %}
    {% endif %}
    </div>
{% endblock %}
