<!DOCTYPE html>
<script type="text/javascript">

  /*  _       _  _                  __  _  _
   * | |     (_)| |                / _|| |(_)
   * | |      _ | |__   _ __  ___ | |_ | | _ __  __
   * | |     | || '_ \ | '__|/ _ \|  _|| || |\ \/ /
   * | |____ | || |_) || |  |  __/| |  | || | >  <
   * |______||_||_.__/ |_|   \___||_|  |_||_|/_/\_\
   *
   *
   * Copyright by Guilmour Rossi and its contributors
   *
   *
   * Hey, friend. Check out the source-code at libregit.org/libreflix
  */

</script>

<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Libreflix Offline </title>
  <link rel="icon" type="image/png" href="/libre-icon.png" />
  <link rel="shortcut icon" href="//libreflix.org/libre-icon.png">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block link_rel %}
  <link rel="stylesheet" href="/theme/css/normalize.css">
  <link rel="stylesheet" href="/theme/main.css">
  <link rel="stylesheet" href="/theme/custom.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/theme/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.ui.min.js">


  <script src="/theme/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="/theme/js/vendor/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap-select.css">
  <script src="/theme/js/main.js"></script>
  <script src="/theme/js/vendor/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js" charset="utf-8"></script>


  {% block opengraph %}
  <meta property="og:image" content="/sm-share2.jpg" />
  <meta property="og:type" content="blog" />
  <meta property="og:title" content="Libreflix" />
  <meta property="og:description" content="Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes, de livre exibição e que fazem pensar." />
  <meta property="og:url" content="https://libreflix.org" />
  <meta property="og:site_name" content="Libreflix" />

  <!-- twitter metatags-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Libreflix">
  <meta name="twitter:description" content="Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes, de livre exibição e que fazem pensar.">
  <meta name="twitter:image" content="https://libreflix.org/sm-share2.jpg">
  {% endblock %}


  <!-- <link rel="stylesheet" type="text/css" href="libre.css"> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
  </script>
</head>

<body>
  <!-- <a href="https://acredito.me/libreflix">
  <div class="superside">
  <i class="fa fa-handshake" aria-hidden="true"></i>
  Ainda estamos em 14% da meta! Contribua com a nossa vaquinha de 2019.
  </div>
  </a> -->

  <div class="container">
    {% endblock %} {# end link_rel block#}

    {% block navbar %}
      {% include "partials/navbar.html" %}
    {% endblock %}
    {% block content %}
    {% endblock %}

    <footer>

        <p align="center" style="font-size: 11pt; margin-top:110px;">
        Libreflix Offline v0.0.5
        <br> Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes, provocativas e de livre exibição.
      </p>


      {% block footer %}


    </footer>
  </div>

  </div>
  <br>
  {% endblock  %}

<script type="text/javascript" charset="utf-8">
  // Creating custom :external selector
  $.expr[':'].external = function(obj) {
    return !obj.href.match(/^mailto\:/) &&
      (obj.hostname != location.hostname);
  };

  $(function() {
    // Add 'external' CSS class to all external links
    $('a:external').addClass('external');

    // turn target into target=_blank for elements w external class
    $(".external").attr('target', '_blank');

  });

  $(document).ready(function() {
    $('.container').fadeIn();
  });
</script>

</body>
</html>
