{% extends "base.html" %}

{% block content_title %}{% endblock %}

{% block content %}

<section class="work">
  <div class="grid">
    <ul class="entries">
{% if articles %}
{% for article in articles_page.object_list %}

    <!-- <div class='article'>
        <div class="content-title">
            <a href="{{ SITEURL }}/{{ article.url }}"><h1>{{ article.title }}</h1>
              <img src="{{ article.thumb }}" alt="" width="270">
            </a>
            {% include "metadata.html" %}
        </div>

        <div>{{ article.content }}</div>
        <hr />
    </div> -->


      <li class="col-md-3">
        <a role="button" data-toggle="modal" style="border-bottom: 0px solid;"  data-toggle="modal" data-target="#assistir{{ loop.index }}">
        <div class="cover">
            <img src="{% if article.thumb480 %}{{ article.thumb480 }}?resize=480,270&crop=entropy {% elif article.imgbg %} {{ article.imgbg }}?resize=480,270&crop=entropy{% endif %}" title="{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %} ({{ article.year }})" class="fadeCatalogo" onload="this.style.opacity='1'"/>
          <div class="cover_wrap">
            <div class="cover_info">
              <h3>{{ article.title | truncate(45) }}</h3>
              <h4>
                {{ article.subtitle | truncate(35) }}
                {% if article.subtitle %} </h4> <h4> {%endif%} {{article.year}}
                {% if article.classind  %} &middot; <span class="classind">{{ article.classind }}</span>{% endif %}
                {% if article.duration  %} &middot; <i class="fa fa-clock-o" aria-hidden="true"></i> {{ article.duration }} {% endif %}
              </h4>
            </div>
          </div>
          <!--<h3>{{ article.title }}</h3>-->
        </div>
        </a>

      </li>
      <div class="modal" id="assistir{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{ loop.index }}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle exitTimes"></i></button>
              <a href="/{{ article.url }}"><button type="button" class="splash-play"><img src="/images/play.png" alt="Play"></button></a>
              <!-- <h4 class="modal-title" id="myModalLabel{{ loop.index }}">{{ article.title }} {% if article.subtitle %} - {{ article.subtitle }} {% else %} {% endif %}</h4> -->
              <a href="/{{ article.url }}"><div class="splash" style="background-image: url('{{ article.imgbg }}');">
              </div></a>
            </div>
            <div class="modal-body">
              <h2> {{ article.title }}</h2>

              <h4>
                {{ article.subtitle }}
                {% if article.subtitle %} &middot; {%endif%} {{article.year}}
                {% if article.classind  %} &middot; <span class="classind">{{ article.classind }}</span>{% endif %}
                {% if article.duration  %} &middot; <i class="fa fa-clock-o" aria-hidden="true"></i> {{ article.duration }} {% endif %}
              </h4>
              <div class="sinopse">{{ article.sinopse | truncate(300)}}</div>
              {#<h4> Tags: {% set list1 = article.tags.split(',') %}{% for list in list1 %}{% if loop.index0 < 6 %}<a href="/t/{{ list | trim}}"><span class="label label-default">{{ list | trim}}</span></a>{% endif %}{%if (loop.index0 < loop.length-1) or (loop.index0 < 6) %} {%endif%}{% endfor %}</h4>
              #}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle"></i> Fechar </button>
              <a href="/{{ article.url }}"><button type="button" class="btn btn-success"><i class="fa fa-info-circle"></i> Informações </button></a>
            </div>
          </div>
        </div>
      </div>
        {% endfor %} {# For w #}
        {% endif %} {# If articles #}
      </ul>

      {#
      {% if loop.length == 1 %}
          {% include 'pagination.html' %}
      {% endif %}
      #}
  </div>
</section>





{% endblock content %}
