{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock %}
{% block content %}

<section id="content" class="body">
    <h2 class="content-title">
        {{ page.title }}
        {% if page.translations %}
            <a href="{{ SITEURL }}/{{ page.url }}" class="btn btn-info xsmall">{{ page.lang or DEFAULT_LANG }}</a>
            {% for translation in page.translations %}
                <a href="{{ SITEURL }}/{{ translation.url }}" class="btn btn-info xsmall">{{ translation.lang }}</a>&nbsp;
            {% endfor %}
        {% endif %}
    </h2>
    {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
    the pdf</a>{% endif %}

    {{ page.content }}

		<p align="right">
			<a href="{{ page.source_path | replace('/home/guilmour/gits/blog_libreflix/' , 'https://notabug.org/libreflix/blog_libreflix/src/master/')}}">&#x270E; Editar</a> |
			<a href="{{ page.source_path | replace('/home/guilmour/gits/blog_libreflix/' , 'https://notabug.org/libreflix/blog_libreflix/commits/master/')}}">&#x26C1; Versões</a>
		</p>

</section>
{% endblock %}
